In [50]:
import pandas as pd
import lxml
import csv
import os

In [68]:
df = pd.read_html('https://www.zakonyprolidi.cz/cs/2018-211')

In [69]:
len(df)

27

In [70]:
df[2].to_csv('oznacenie_zavad.csv', header=True, index=False, encoding='utf-16')

In [71]:
stupne_zavad = ['A', 'B', 'C']
cisla_KU = []
popis_zavady = []
stupne = []

with open('oznacenie_zavad.csv', encoding='utf-16') as f:
    data = csv.reader((line.replace('\0','') for line in f), delimiter=",")
    lines = list(data)
    print(lines[4])
    print()
    for line in lines:
        if line[4] in stupne_zavad: 
            
            cisla_KU.append(line[2])
            popis_zavady.append(line[3])
            stupne.append(line[4])
            
print(len(cisla_KU))
print(len(popis_zavady))
print(len(stupne))

['Číslo a základní popis závady', 'Číslo a základní popis závady', 'Číslo KÚ v ISTP', 'Podrobný popis závady se stupněm hodnocení', 'Podrobný popis závady se stupněm hodnocení']

1194
1194
1194

In [72]:
os.remove('oznacenie_zavad.csv')

In [73]:
data = pd.DataFrame({'Cislo KU': cisla_KU, 'Popis': popis_zavady, 'Stupen':stupne})

In [74]:
data.info()
data.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cislo KU  1194 non-null   object
 1   Popis     1194 non-null   object
 2   Stupen    1194 non-null   object
dtypes: object(3)
memory usage: 28.1+ KB

        Cislo KU                                              Popis Stupen
443    4.1.4.5.1  U vozidla, schváleného v ČR po 1. 1. 2002, pro...      B
1037      7.10.6  Rozměr pneumatik, uvedený v montážním štítku k...      B
10       0.1.5.3  Poloha umístění registrační značky na vozidle ...      B
204   1.1.17.3.1  U vozidla vybaveného funkčním systémem ABS, kt...      B
375      3.2.6.1  U motocyklu čelní překryt (větrný štít) praskl...      A

In [76]:
data.to_csv('ciselnik_zavad.csv', encoding='utf-8')

In [65]:
#CREATE TABLE ciselnik_zavad ( id SERIAL, CisloKU varchar(50), Popis text, Stupen varchar(10));
#\COPY ciselnik_zavad (id, cislouk, popis, stupen) FROM '/tmp/ciselnik_zavad.csv' DELIMITER ',' CSV HEADER;