In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [2]:
df = pd.read_csv("prohlidky.csv")

In [4]:
df.sample(10)

,Unnamed: 0,STK,DrTP,VIN,DatKont,TypMot,TZn,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
1049522,1049522,3215,Pred registraci,WMAL88ZZX4Y132540,2018-07-10 14:28:41.083,D 0836 LFL02,MAN,NAKLADNI AUTOMOBIL,18.225 LLC,N3,2004-05-18 00:00:00.000,299336,5,0,0,zpusobile,vyhovuje
138364,138364,3620,Evidencni kontrola,ME4JC40A0B8003867,2018-07-21 08:41:49.360,JC40E,HONDA,MOTOCYKL,CBF125M (JC40),LC,2011-09-05 00:00:00.000,55514,0,0,0,zpusobile,---
1455445,1455445,3823,Pred schval. tech. zpusob. vozidla,PJ2180186,2018-07-13 10:43:38.923,NaN,CYNKOMET,PRIVES TRAKTOROVY,T-608/2,Ra3,1753-01-01 00:00:00.000,0,0,0,0,zpusobile,---
1751355,1751355,3707,pravidelna,TMBAM6NH3D4007162,2018-10-08 14:21:19.570,CBZA,SKODA,OSOBNI AUTOMOBIL,RAPID,M1,2012-10-18 00:00:00.000,99708,1,0,0,zpusobile,vyhovuje
1785520,1785520,3727,pravidelna,VSSZZZ1MZYB039421,2018-04-04 12:33:20.330,AHF,SEAT,OSOBNI AUTOMOBIL,TOLEDO (1M),M1,1999-10-27 00:00:00.000,369062,0,0,0,zpusobile,vyhovuje
657990,657990,3766,pravidelna,TMBZZZ1U8W2054890,2018-03-05 09:18:08.893,AHF,SKODA,OSOBNI AUTOMOBIL,OCTAVIA,M1,1997-11-17 00:00:00.000,345107,3,0,0,zpusobile,vyhovuje
552548,552548,3840,pravidelna,LAEABZ4008B980188,2018-07-25 10:46:12.103,139QMB-A,QINGQI,MOTOCYKL,YUKI FQ50QT-2,L1e,2008-07-28 00:00:00.000,14668,0,0,0,zpusobile,---
3043873,3043873,3225,pravidelna,TMBDG41U442887599,2018-07-11 14:36:04.897,ALH,SKODA,OSOBNI AUTOMOBIL,OCTAVIA (1U),M1,2004-03-30 00:00:00.000,246981,5,0,0,zpusobile,vyhovuje
2908446,2908446,3102,Evidencni kontrola,WF0BXXWPRB3T04987,2018-11-15 09:23:07.700,BAA,FORD,OSOBNI AUTOMOBIL,KA,M1,2003-09-30 00:00:00.000,88723,0,0,0,zpusobile,---
957461,957461,3850,pravidelna,WV1ZZZ2DZ1H007169,2018-12-05 15:06:19.443,ANJ,VW,NAKLADNI AUTOMOBIL,LT 35,N1,2000-01-01 00:00:00.000,514365,10,0,0,zpusobile,vyhovuje

In [10]:
df.groupby(df['STK']).count()

,Unnamed: 0,DrTP,VIN,DatKont,TypMot,TZn,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
STK,,,,,,,,,,,,,,,,
3100,18694,18694,18694,18694,18480,18694,18694,18694,18694,18694,18694,18694,18694,18694,18694,18694
3102,13076,13076,13076,13076,12836,13076,13076,13076,13076,13076,13076,13076,13076,13076,13076,13076
3103,2588,2588,2588,2588,2277,2588,2588,2588,2588,2588,2588,2588,2588,2588,2588,2588
3104,19890,19890,19890,19890,19571,19890,19890,19890,19890,19890,19890,19890,19890,19890,19889,19890
3105,16225,16225,16225,16225,16123,16225,16225,16225,16225,16225,16225,16225,16225,16225,16225,16225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8871,29,29,29,29,24,22,29,22,29,29,29,29,29,29,29,29
8901,3,3,3,3,0,0,3,0,3,3,3,3,3,3,3,3
9911,3,3,3,3,0,1,3,1,3,3,3,3,3,3,3,3
9998,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9999,26,26,26,26,21,26,26,26,26,26,26,26,26,26,25,26

In [3]:
# df.to_csv('no_header_prohlidky.csv', header=False, index=False, sep='#')

In [25]:
# problem s ','
#
#df.where(df['ObchOznTyp'] == 'PV 0,7').dropna(how='all')

Empty DataFrame
Columns: [Unnamed: 0, STK, DrTP, VIN, DatKont, TypMot, TZn, DrVoz, ObchOznTyp, Ct, DatPrvReg, Km, ZavA, ZavB, ZavC, VyslSTK, VyslEmise]
Index: []

In [24]:
# df['ObchOznTyp'] = df['ObchOznTyp'].astype(str).str.replace(',','.')

In [34]:
# prilis dlouho

# import psycopg2
# conn = psycopg2.connect("host='193.85.191.172' port='5432' dbname='odl_stk_data' user='odl_stk_data' password='Aj324oi43j24'")
# cur = conn.cursor()
# f = open(r'no_header_prohlidky.csv', 'r')
# cur.copy_from(f, 'kontroly', sep='#')
# f.close()
# conn.commit()
# conn.close()

In [16]:
df[['DatKontDatum','DatKontCas']] = df.DatKont.str.split(" ",expand=True,)

In [19]:
df = df.drop(['DatKont'], axis=1)

In [27]:
df_split = np.array_split(df, 1000)

In [30]:
a = 0

for part in df_split:
    a += 1
    
    if a < 482:
        continue
    
    part.to_csv('no_header_prohlidky.csv', header=False, index=False, sep='#')
    conn = psycopg2.connect("host='193.85.191.172' port='5432' dbname='odl_stk_data' user='odl_stk_data' password='Aj324oi43j24'")
    cur = conn.cursor()
    f = open(r'no_header_prohlidky.csv', 'r')
    cur.copy_from(f, 'kontroly', sep='#')
    f.close()
    conn.commit()
    conn.close()
    print(a)

482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [40]:
# df_split[481] ma chybu s timefield

df_split[481]

,Unnamed: 0,STK,DrTP,VIN,DatKont,TypMot,TZn,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
1793537,1793537,3434,Evidencni kontrola,TMBHS46Y943921557,2018-05-14 10:08:36.327,ATD,SKODA,OSOBNI AUTOMOBIL,FABIA (6Y),M1,2003-09-26 00:00:00.000,253201,0,0,0,zpusobile,---
1793538,1793538,3230,Evidencni kontrola,WVWZZZAUZFP585908,2018-05-14 08:21:49.267,CXX,VOLKSWAGEN,OSOBNI AUTOMOBIL,GOLF,M1,2015-01-22 00:00:00.000,163267,0,0,0,zpusobile,---
1793539,1793539,3303,pravidelna,TK9NP2140Y0AP3153,2018-05-14 07:49:17.013,-,AGADOS,NAKLADNI PRIVES,NP 2,O1,2000-05-10 00:00:00.000,0,1,0,0,zpusobile,---
1793540,1793540,3713,Evidencni kontrola,00318106,2018-05-14 08:38:17.157,T3-929.11,TATRA,NAKLADNI AUTOMOBIL,T 815,N3G,1984-04-18 00:00:00.000,28459,0,0,0,zpusobile,---
1793541,1793541,3633,opakovana,WF0MXXGCDM3U79073,2018-05-14 08:24:04.067,CSDA,FORD,OSOBNI AUTOMOBIL,FOCUS C-MAX,M1,2003-11-28 00:00:00.000,217939,6,0,0,zpusobile,vyhovuje
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797260,1797260,3830,Pred registraci,VF1BB0WCF27007666,2018-08-20 09:59:41.980,D4FB7,RENAULT,OSOBNI AUTOMOBIL,CLIO,M1,2002-07-18 00:00:00.000,144026,0,0,0,zpusobile,vyhovuje
1797261,1797261,3122,Evidencni kontrola,TMAD281BAFJ094988,2018-08-20 15:29:00.437,G4FG,HYUNDAI,OSOBNI AUTOMOBIL,i 30 (GDH),M1,2015-06-11 00:00:00.000,30153,0,0,0,zpusobile,---
1797262,1797262,3618,Evidencni kontrola,TMAH5H11AJJ004426,2018-08-20 17:02:15.757,G3LC,HYUNDAI,OSOBNI AUTOMOBIL,I 30 (PDE),M1,2018-05-11 00:00:00.000,1932,0,1,0,castecne zpusobile,---
1797263,1797263,3239,Evidencni kontrola,WVWZZZ1EZXK002011,2018-08-20 16:26:17.780,AKS,VW,OSOBNI AUTOMOBIL,GOLF,M1,1998-03-26 00:00:00.000,207493,0,0,0,zpusobile,---
1797264,1797264,3725,Pred registraci,JKAER300AADA00293,2018-08-21 07:17:56.537,EX300AE,KAWASAKI,MOTOCYKL,Z300,L3e,2015-02-27 00:00:00.000,7233,0,0,0,zpusobile,---

In [26]:
df

,Unnamed: 0,STK,DrTP,VIN,DatKont,TypMot,TZn,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
0,0,3122,Evidencni kontrola,JMZBLA2G601258504,2018-01-02 11:03:12.833,LF,MAZDA,OSOBNI AUTOMOBIL,3,M1,2011-02-10 00:00:00.000,84818,0,0,0,zpusobile,---
1,1,3205,Evidencni kontrola,4150417,2018-01-02 11:06:07.617,EM150.2,MZ,MOTOCYKL,ETZ 150,L3e,1989-01-01 00:00:00.000,38828,0,0,0,zpusobile,---
2,2,3114,Evidencni kontrola,VF3MJAHXHGS280168,2018-01-02 11:15:08.083,AH01,PEUGEOT,OSOBNI AUTOMOBIL,3008,M1,2017-01-09 00:00:00.000,39227,0,0,0,zpusobile,---
3,3,3618,Evidencni kontrola,4699845,2018-01-02 11:19:22.967,1202,SKODA,OSOBNI AUTOMOBIL,1202,M1,1979-06-04 00:00:00.000,38951,0,0,0,zpusobile,---
4,4,3748,Evidencni kontrola,WF0SXXGCDSAU06730,2018-01-02 11:30:25.420,GPDC,FORD,OSOBNI AUTOMOBIL,FOCUS (DA3),M1,2010-06-29 00:00:00.000,254194,0,0,0,zpusobile,---
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3728364,3728364,3746,pravidelna,VF37J9HXCAJ723769,2018-03-15 06:55:47.593,9HX,PEUGEOT,OSOBNI AUTOMOBIL,PARTNER (7),M1,2010-08-24 00:00:00.000,185318,3,0,0,zpusobile,vyhovuje
3728365,3728365,3734,Pred registraci,XLRAE45CF0L255548,2018-03-15 08:28:13.880,CE136C,DAF,NAKLADNI AUTOMOBIL,AE45LF,N2,2004-03-22 00:00:00.000,381915,2,0,0,zpusobile,vyhovuje
3728366,3728366,3128,pravidelna,WDF63960313008173,2018-03-15 08:10:16.180,646.982,MERCEDES-BENZ,NAKLADNI AUTOMOBIL,VITO 111,N1,2004-01-07 00:00:00.000,314543,6,0,0,zpusobile,vyhovuje
3728367,3728367,3506,pravidelna,WBAAT91090KS22634,2018-03-15 11:22:12.270,204D4,BMW,OSOBNI AUTOMOBIL,318 (346K),M1,2004-10-18 00:00:00.000,261757,6,0,0,zpusobile,vyhovuje
3728368,3728368,3105,opakovana,TMBJB16Y823352312,2018-03-15 08:29:56.967,AQW,SKODA,OSOBNI AUTOMOBIL,FABIA,M1,2002-01-24 00:00:00.000,65648,5,0,0,zpusobile,vyhovuje

In [11]:
df.where(df["STK"] == 6813).dropna(how='all')

,Unnamed: 0,STK,DrTP,VIN,DatKont,TypMot,TZn,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
142744,142744.0,6813.0,Evidencni kontrola,CATM316CPH2C00362,2018-07-26 15:25:56.000,2310/2000,CATERPILLAR,PRACOVNI STROJ SAMOJIZDNY,M 316 C,SS,2006-01-01 00:00:00.000,12871.0,0.0,0.0,0.0,zpusobile,---
218067,218067.0,6813.0,Evidencni kontrola,W09EKS1059W017093,2018-11-14 13:38:50.000,NaN,OEHLER,NAVES TRAKTOROVY,EDK 60 E,OT3,2010-01-07 00:00:00.000,0.0,0.0,0.0,0.0,zpusobile,---
225100,225100.0,6813.0,Evidencni kontrola,TK9N21540DVNV5781,2018-11-26 10:26:39.000,NaN,ZDT,NAVES TRAKTOROVY,NS 20,OT4,2013-06-10 00:00:00.000,0.0,0.0,0.0,0.0,zpusobile,---
225119,225119.0,6813.0,Evidencni kontrola,1L06210RKDP761289,2018-11-26 10:29:36.000,6068HL497,JOHN DEERE,TRAKTOR KOLOVY,6210R,T1,2013-06-19 00:00:00.000,6675.0,0.0,0.0,0.0,zpusobile,---
238065,238065.0,6813.0,Evidencni kontrola,000R3B4R41VT01947,2018-12-18 08:52:59.000,Z1217,ZETOR,TRAKTOR KOLOVY,PROXIMA PLUS,T1,2017-12-06 00:00:00.000,5.0,0.0,0.0,0.0,zpusobile,---
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3476593,3476593.0,6813.0,pravidelna,10129,2018-07-24 15:36:29.000,NaN,VIZ POZNAMKA,PRIVES TRAKTOROVY,VIZ POZNAMKA,OT4,1972-07-03 00:00:00.000,0.0,11.0,0.0,0.0,zpusobile,---
3565594,3565594.0,6813.0,pravidelna,918198,2018-10-23 14:39:23.000,NaN,BSS,PRIVES TRAKTOROVY,P93S,Ra1,1975-12-15 00:00:00.000,0.0,3.0,0.0,0.0,zpusobile,---
3593212,3593212.0,6813.0,pravidelna,12681,2018-07-05 11:32:39.000,NaN,PA,PRIVES TRAKTOROVY,VIZ POZNAMKA,OT4,1900-01-01 00:00:00.000,0.0,9.0,0.0,0.0,zpusobile,---
3677987,3677987.0,6813.0,Evidencni kontrola,1L06210RLDP760988,2018-11-26 10:40:16.000,6068HL497,JOHN DEERE,TRAKTOR KOLOVY,6210R,T1,2013-06-10 00:00:00.000,6659.0,0.0,0.0,0.0,zpusobile,---
3727740,3727740.0,6813.0,pravidelna,07947,2018-10-02 12:22:38.000,NaN,BSS,PRIVES TRAKTOROVY,PS2 10.08 AGRO,OT1,1986-01-16 00:00:00.000,0.0,15.0,0.0,0.0,zpusobile,---

In [16]:
grouped = df.groupby('TZn').count().reset_index()
grouped = grouped.sort_values('STK', ascending=False)

In [17]:
grouped.head()

,TZn,Unnamed: 0,STK,DrTP,VIN,DatKont,TypMot,DrVoz,ObchOznTyp,Ct,DatPrvReg,Km,ZavA,ZavB,ZavC,VyslSTK,VyslEmise
4930,SKODA,898984,898984,898984,898984,898984,898412,898982,898984,898984,898984,898984,898984,898984,898984,898972,898984
1771,FORD,259757,259757,259757,259757,259757,259488,259756,259757,259757,259757,259757,259757,259757,259757,259757,259757
4515,RENAULT,192249,192249,192249,192249,192249,192115,192248,192249,192249,192249,192249,192249,192249,192249,192246,192249
4173,PEUGEOT,180757,180757,180757,180757,180757,180663,180756,180757,180757,180757,180757,180757,180757,180757,180751,180757
5811,VOLKSWAGEN,166904,166904,166904,166904,166904,166644,166904,166904,166904,166904,166904,166904,166904,166904,166900,166904